/* inter-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/inter-v19-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/inter-v19-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-jp-regular - japanese */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-sans-jp-v54-japanese-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-kr-regular - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-sans-kr-v37-korean-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* noto-sans-sc-regular - chinese-simplified */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-sans-sc-v38-chinese-simplified-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/source-sans-3-v18-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/source-sans-3-v18-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/source-sans-3-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/source-sans-3-v18-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Source Sans 3", system-ui, Helvetica, sans-serif;

    --font-title-family: theme(--font-sans);
    --font-title-size: 36px;
    
    --font-subtitle-family: "Inter", "Source Sans 3", system-ui, Helvetica, sans-serif;
    --font-subtitle-size: 14px;
    --font-subtitle-weight: 200;

    --font-heading-family: theme(--font-sans);
    --font-heading-size: 24px;

    --font-body-family: theme(--font-sans);
    --font-body-size: 16px;

    --font-thin-family: "Inter", "Source Sans 3", system-ui, Helvetica, sans-serif;
    --font-thin-size: 12px;
    --font-thin-weight: 200;

    --font-ml-title-family: "Noto Sans JP", "Noto Sans SC", "Noto Sans KR", sans-serif;
    --font-ml-title-size: 24px;
    --font-ml-subtitle-family: "Noto Sans JP", "Noto Sans SC", "Noto Sans KR", sans-serif;
    --font-ml-subtitle-size: 16px;

    --color-surface: #ffffff;
    --color-text: #000000;
    --color-primary: #3b87ca;
    --color-primary-faded: #eaf1f7;
    --color-primary-dimmed: #356691;
    --color-secondary: #ca506e;
    --color-secondary-dimmed: #f7e1e7;
}

@layer theme {
    * {
        @variant dark {
            --color-surface: #19191b;
            --color-text: #ffffff;
            --color-primary: #ffffff;
            --color-primary-faded: #19191b;
            --color-primary-dimmed: #bbbbbb;
            --color-secondary: #ca506e;
            --color-secondary-dimmed: #f7e1e7;
        }
    }
}

@layer utilities {
    .typo-title {
        font-family: var(--font-title-family);
        font-size: var(--font-title-size);
        line-height: 1.2;
    }

    .typo-subtitle {
        font-family: var(--font-subtitle-family);
        font-size: var(--font-subtitle-size);
        font-weight: var(--font-subtitle-weight);
    }

    .typo-heading {
        font-family: var(--font-heading-family);
        font-size: var(--font-heading-size);
    }

    .typo-body {
        font-family: var(--font-body-family);
        font-size: var(--font-body-size);
        line-height: 1.2;
    }

    .typo-thin {
        font-family: var(--font-thin-family);
        font-size: var(--font-thin-size);
        font-weight: var(--font-thin-weight);
    }

    .typo-ml-title {
        font-family: var(--font-ml-title-family);
        font-size: var(--font-ml-title-size);
    }
    
    .typo-ml-subtitle {
        font-family: var(--font-ml-subtitle-family);
        font-size: var(--font-ml-subtitle-size);
    }
    
    .shadow-1 {
        box-shadow: 0px 0px 4px 0px #00000033;
    }

    .shadow-2 {
        box-shadow: 0px 2px 4px 0px #00000033;
    }
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

button {
    cursor: pointer;
}
